<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nombre visites</title>
</head>
<body>

<h1>  c est votre visite num : </h1>
{{ dump(app.session.get('nbvisite')) }}dump
<div>{{ nbrevisite }}</div>
{{ app.session.get('nbvisite') }}
</body>
</html>