{% extends 'heritage/heritage.html.twig' %}



{% block titreDuDocument %}


    nouveau titre
{% endblock %}
{% block corpdudocument %}
    {{ parent() }}
    <li> j adore l heritage c est genial</li>
    <li> makremmmmmmmm</li>
{% endblock %}

